Repository solop-develop/frontend-default-theme, pull requests merged in 2022-10, with the labels that each got.

#314 fix: Cache list lookups.
  components/ADempiere/FieldDefinition/FieldSelect.vue
Labels: bug, (ULP) UI Lookups

#315 fix: Set default accouting schema from context session.
  components/ADempiere/PanelInfo/Component/Accounting/index.vue
  components/ADempiere/PanelInfo/index.vue
Labels: bug, (WIN) Windows

#318 feat: Rename to TimeControl form.
  components/ADempiere/Form/TimeControl/fieldsList.js
  components/ADempiere/Form/TimeControl/headerTable.js
  components/ADempiere/Form/TimeControl/index.vue
  components/ADempiere/Form/index.vue
Labels: enhancement, (CIO) Code Improvement or Optimization

#316 Fix: Information Panel
  components/ADempiere/PanelDefinition/StandardPanel.vue
  components/ADempiere/PanelInfo/index.vue
Labels: enhancement, (REC) Records, (WIN) Windows

#321 fix: POS Resources Assignment list.
  components/ADempiere/Form/TimeControl/table.vue
  components/ADempiere/Form/VPOS/Collection/typeCollection.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#324 feat: Improvement Style Report HTML
  components/ADempiere/FileRender/HtmlFile/index.vue
Labels: enhancement, (RPT) Reports

#323 feat: Change Structure Report Configuration
  components/ADempiere/FileRender/Setup/optionsReport.vue
  components/ADempiere/FileRender/Setup/optionsReportViwer.vue
Labels: enhancement, (RPT) Reports

#322 Add new params
  components/ADempiere/Form/TimeControl/fieldsList.js
  components/ADempiere/Form/TimeControl/index.vue
Labels: enhancement, (FRM) Form

#325 Fixe: Delete Console.log
  components/ADempiere/FileRender/HtmlFile/index.vue
  components/ADempiere/FileRender/Setup/optionsReportViwer.vue
Labels: bug, (RPT) Reports

#327 fix: POS NaN on exempt column order line.
  components/ADempiere/Form/VPOS/Order/orderLineMixin.js
Labels: bug, (POS) Point Of Sales, (FRM) Form

#328 fix: POS Edit template customer.
  components/ADempiere/Form/VPOS/BusinessPartner/businessPartnersList.vue
  components/ADempiere/Form/VPOS/BusinessPartner/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#329 Fix: Support Mode Mobile Time Control
  components/ADempiere/Form/TimeControl/index.vue
  components/ADempiere/Form/TimeControl/table.vue
  components/ADempiere/Form/VPOS/Options/index.vue
  components/ADempiere/Form/VPOS/posMixin.js
  components/ADempiere/Form/index.vue
Labels: bug, (FRM) Form

#326 Fix: Minimalist View in Table
  components/ADempiere/DataTable/Windows/index.vue
Labels: enhancement, (WIN) Windows, (UX) User Experience

#330 fix: Time control.
  components/ADempiere/Form/TimeControl/index.vue
  components/ADempiere/Form/TimeControl/table.vue
Labels: bug, (FRM) Form

#333 fix: #460 Search into lookup field.
  components/ADempiere/FieldDefinition/FieldSelect.vue
Labels: bug, (ULP) UI Lookups

#332 feat: Changes Paginations in Window and Smart Browser
  components/ADempiere/DataTable/Browser/index.vue
  components/ADempiere/DataTable/Components/CustomPagination.vue
  components/ADempiere/DataTable/Windows/index.vue
Labels: enhancement, (REC) Records, (SB) Smart Browser, (WIN) Windows

#334 fix: Panel tab reloads records.
  components/ADempiere/TabManager/TabOptions.vue
Labels: bug, (REC) Records, (WIN) Windows

#336 Fix: Change OK button for check
  components/ADempiere/Form/TimeControl/index.vue
  components/ADempiere/Form/TimeControl/table.vue
Labels: bug, (FRM) Form

#337 feat: Support for changing document status with quick options
  components/ADempiere/TabManager/TabPanel.vue
  components/ADempiere/TabManager/convenienceButtons.vue
  components/ADempiere/TabManager/index.vue
Labels: enhancement, (WFL) Workflows, (WIN) Windows, (UX) User Experience

#338 fix: Location Address read only field.
  components/ADempiere/FieldDefinition/FieldLocation/index.vue
Labels: bug, (FRM) Form, (SE) Security, (ULP) UI Lookups

#341 fix: Location address set correct values.
  components/ADempiere/FieldDefinition/FieldLocationAddress/fieldsList.js
  components/ADempiere/FieldDefinition/FieldLocationAddress/index.vue
  components/ADempiere/FieldDefinition/FieldLocationAddress/locationAddressForm.vue
  components/ADempiere/FieldDefinition/FieldLocationAddress/mixinLocationAddress.js
  components/ADempiere/FieldDefinition/index.vue
  components/ADempiere/FieldDefinition/indexApiComposition.vue
  components/ADempiere/Form/VPOS/BusinessPartner/AddNewFieldLocation/locationAddressForm.vue
  components/ADempiere/Form/VPOS/BusinessPartner/AddNewFieldLocation/mixinLocation.js
  components/ADempiere/Form/VPOS/BusinessPartner/BillingFieldLocation/locationAddressForm.vue
  components/ADempiere/Form/VPOS/BusinessPartner/BillingFieldLocation/mixinLocation.js
  components/ADempiere/Form/VPOS/BusinessPartner/addAddress.vue
  components/ADempiere/Form/VPOS/BusinessPartner/billingAddressFieldLocation/locationAddressForm.vue
  components/ADempiere/Form/VPOS/BusinessPartner/fieldsListAddress.js
  components/ADempiere/Form/VPOS/BusinessPartner/shippingAddressFieldLocation/locationAddressForm.vue
  components/ADempiere/Form/VPOS/BusinessPartner/shippingFieldLocation/locationAddressForm.vue
  components/ADempiere/Form/VPOS/BusinessPartner/shippingFieldLocation/mixinLocation.js
Labels: bug, (FRM) Form, (ULP) UI Lookups

#339 Fix: Support for the Notes component
  components/ADempiere/PanelInfo/Component/chats/index.vue
Labels: enhancement

#335 Fix: Tag Status
  components/ADempiere/TabManager/convenienceButtons.vue
Labels: enhancement, (REC) Records, (WFL) Workflows, (WIN) Windows

#342 fix: Location address rename title of region field.
  components/ADempiere/FieldDefinition/FieldLocationAddress/locationAddressForm.vue
Labels: bug, (FRM) Form, (REC) Records, (ULP) UI Lookups

#343 feat: Location address add coordenates fields.
  components/ADempiere/FieldDefinition/FieldLocationAddress/fieldsList.js
  components/ADempiere/FieldDefinition/FieldLocationAddress/index.vue
  components/ADempiere/FieldDefinition/FieldLocationAddress/locationAddressForm.vue
Labels: enhancement, (FRM) Form, (ULP) UI Lookups

#344 feat: Location Address open map.
  components/ADempiere/FieldDefinition/FieldLocationAddress/fieldsList.js
  components/ADempiere/FieldDefinition/FieldLocationAddress/index.vue
  components/ADempiere/FieldDefinition/FieldLocationAddress/locationAddressForm.vue
  components/ADempiere/FieldDefinition/FieldLocationAddress/mixinLocationAddress.js
Labels: enhancement, (FRM) Form, (ULP) UI Lookups

#345 fix: Navigate between logs without losing scrool
  components/ADempiere/TabManager/index.vue
Labels: bug, (REC) Records, (WIN) Windows

#346 Fix: Adding Scrool to the Activity Flow Diagram
  components/ADempiere/Form/WorkflowActivity/index.vue
  components/ADempiere/WorkflowDiagram/index.vue
Labels: bug, (FRM) Form, (WFL) Workflows, (UX) User Experience

#347 fix: Change Pagination on Workflow Activity
  components/ADempiere/Form/WorkflowActivity/index.vue
Labels: bug, (FRM) Form, (WFL) Workflows

#350 fix: Search field set value with enter key.
  components/ADempiere/FieldDefinition/FieldSearch/BusinessPartnerInfo/index.vue
  components/ADempiere/FieldDefinition/FieldSearch/GeneralInfoSearch/index.vue
  components/ADempiere/FieldDefinition/FieldSearch/mixinFieldSearch.js
Labels: bug, (FRM) Form

#349 feat: Registry Finder in Panel mode
  components/ADempiere/DataTable/Windows/index.vue
  components/ADempiere/FilterFields/index.vue
  components/ADempiere/TabManager/TabOptions.vue
Labels: enhancement, (REC) Records, (WIN) Windows

#351 feat: Add Collapse to Coordinates fields Location Address
  components/ADempiere/FieldDefinition/FieldLocationAddress/locationAddressForm.vue
  components/ADempiere/PanelDefinition/StandardPanel.vue
Labels: enhancement, (FRM) Form, (ULP) UI Lookups, (UX) User Experience

#353 Support Product Attribute
  components/ADempiere/FieldDefinition/FieldProductAttribute/index.vue
Labels: enhancement, (FRM) Form, (ULP) UI Lookups

#355 fix: POS Bank Transfer Reference No.
  components/ADempiere/Form/VPOS/Collection/index.vue
  components/ADempiere/Form/VPOS/Collection/typeCollection.vue
  components/ADempiere/Form/VPOS/Order/index.vue
Labels: (POS) Point Of Sales, (FRM) Form

#357 fix: POS Disable print when is loading
  components/ADempiere/Form/VPOS/Options/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#356 feat: POS Add the option to select seller
  components/ADempiere/Form/VPOS/Order/index.vue
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#358 fix: POS Get list resources only open table.
  components/ADempiere/Form/VPOS/Options/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#359 fix: POS Business Partner fields request.
  components/ADempiere/Form/TimeControl/fieldsList.js
  components/ADempiere/Form/VPOS/BusinessPartner/index.vue
  components/ADempiere/Form/VPOS/Options/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#354 Support Read Only Product Attribute
  components/ADempiere/FieldDefinition/FieldProductAttribute/index.vue
Labels: bug, (FRM) Form, (ULP) UI Lookups

#360 fix: POS Get image from order line info.
  components/ADempiere/Form/VPOS/ConfirmDelivery/index.vue
  components/ADempiere/Form/VPOS/Order/index.vue
  components/ADempiere/Form/VPOS/Order/line/infoOrderLine/imageProduct.vue
  components/ADempiere/Form/VPOS/Order/line/infoOrderLine/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#361 fix: POS Edit discount.
  components/ADempiere/Form/VPOS/Order/index.vue
  components/ADempiere/Form/VPOS/Order/orderLineMixin.js
Labels: bug, (POS) Point Of Sales, (FRM) Form

#362 feat: POS Add refresh orders list.
  components/ADempiere/Form/VPOS/OrderList/FindOrders/index.vue
  components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  components/ADempiere/Form/VPOS/OrderList/index.vue
  components/ADempiere/Form/VPOS/OrderList/searchCompleteOrders.vue
  components/ADempiere/Form/VPOS/OrderList/toDeliver.vue
Labels: enhancement, (POS) Point Of Sales, (FRM) Form
