Repository solop-develop/frontend-default-theme, pull requests merged in 2022-11, with the labels that each got.

#365 fix: POS set Sales Representative.
  components/ADempiere/Form/VPOS/Order/SalesRepresentative.vue
  components/ADempiere/Form/VPOS/Order/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#366 POS: Support Discount and Seller (Sales Representative)
  components/ADempiere/Form/VPOS/Order/SalesRepresentative.vue
  components/ADempiere/Form/VPOS/Order/line/index.vue
  components/ADempiere/Form/VPOS/Order/orderLineMixin.js
Labels: bug, (POS) Point Of Sales, (FRM) Form

#371 Fix: POS reset value in line
  components/ADempiere/Form/VPOS/BusinessPartner/index.vue
  components/ADempiere/Form/VPOS/Options/index.vue
  components/ADempiere/Form/VPOS/Order/index.vue
  components/ADempiere/Form/VPOS/Order/line/index.vue
  components/ADempiere/Form/VPOS/Order/orderLineMixin.js
  components/ADempiere/Form/VPOS/posMixin.js
Labels: bug, (POS) Point Of Sales

#370 Fix: Update Business Partner at the Point of Sales
  components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
  components/ADempiere/Form/VPOS/BusinessPartner/index.vue
Labels: bug, (POS) Point Of Sales

#372 feat: List Tab Sequence.
  components/ADempiere/ModalDialog/index.vue
  components/ADempiere/PanelDefinition/SortPanel.vue
  components/ADempiere/PanelDefinition/StandardPanel.vue
  components/ADempiere/PanelDefinition/index.vue
  components/ADempiere/SequenceOrder/index.vue
Labels: enhancement, (REC) Records, (WIN) Windows

#374 Fix: Product Information Image in POS
  components/ADempiere/Form/VPOS/Order/line/infoOrderLine/imageProduct.vue
  components/ADempiere/Form/VPOS/ProductInfo/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#375 feat: Save sequence on sort tab.
  components/ADempiere/ModalDialog/index.vue
  components/ADempiere/PanelDefinition/SortPanel.vue
Labels: enhancement, (WIN) Windows

#376 Fix: POS Update order when customer is updated
  components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
  components/ADempiere/Form/VPOS/BusinessPartner/index.vue
  components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#377 Fix: POS Default Template Customer Data
  components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
  components/ADempiere/Form/VPOS/BusinessPartner/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#378 Fix: Customer persistence at the POS
  components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
  components/ADempiere/Form/VPOS/Order/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#379 feat: Support Advanced Query
  components/ADempiere/DataTable/Windows/index.vue
  components/ADempiere/FieldDefinition/FieldOptions/OperatorComparison/index.vue
  components/ADempiere/FieldDefinition/index.vue
  components/ADempiere/FilterFields/index.vue
  components/ADempiere/ModalDialog/index.vue
  components/ADempiere/PanelDefinition/StandardPanel.vue
  components/ADempiere/PanelDefinition/index.vue
  components/ADempiere/searchRecordField/index.vue
  components/ADempiere/searchRecordField/panelSearchCriteria.vue
Labels: enhancement, (REC) Records, (WIN) Windows

#380 feat: Advanced Query YesNo field as List field.
  components/ADempiere/FieldDefinition/FieldYesNo/AdvancedQueryTemplate.vue
  components/ADempiere/FieldDefinition/FieldYesNo/DefaultTemplate.vue
  components/ADempiere/FieldDefinition/FieldYesNo/index.vue
  components/ADempiere/FieldDefinition/mixin/mixinField.js
Labels: enhancement, (REC) Records, (WIN) Windows, (UX) User Experience

#381 feat: Support to Save and Edit Set Attribute Instance
  components/ADempiere/FieldDefinition/FieldProductAttribute/index.vue
  components/ADempiere/FieldDefinition/FieldProductAttribute/panelProductAttribute.vue
  components/ADempiere/PanelInfo/Component/chats/index.vue
Labels: enhancement, (REC) Records, (WIN) Windows, (ULP) UI Lookups, (UX) User Experience

#382 Fix: Report display after order completion at the POS
  components/ADempiere/Form/VPOS/Collection/index.vue
  components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  components/ADempiere/Form/VPOS/Options/index.vue
  components/ADempiere/Form/VPOS/posMixin.js
Labels: bug, (POS) Point Of Sales, (FRM) Form

#383 Fix: Minimalist view on the table
  components/ADempiere/DataTable/Browser/index.vue
  components/ADempiere/DataTable/Components/ColumnsDisplayOption.vue
  components/ADempiere/DataTable/Windows/index.vue
Labels: bug, (REC) Records, (WIN) Windows, (UX) User Experience

#384 Fix: Panel Advance Query
  components/ADempiere/searchRecordField/index.vue
Labels: bug, (REC) Records, (WIN) Windows

#386 fix: Open chat error with constructor.
  components/ADempiere/PanelDefinition/SortPanel.vue
  components/ADempiere/PanelInfo/Component/chats/index.vue
  components/ADempiere/PanelInfo/index.vue
Labels: bug, (REC) Records, (WIN) Windows

#387 Send attachment to proxy
  components/ADempiere/PanelInfo/Component/Attachment/index.vue
  components/ADempiere/PanelInfo/index.vue
Labels: enhancement, (REC) Records, (WIN) Windows

#389 fix: Order search field displayed value.
  components/ADempiere/FieldDefinition/FieldSearch/GeneralInfoSearch/button.vue
  components/ADempiere/FieldDefinition/FieldSearch/index.vue
  components/ADempiere/FieldDefinition/FieldSearch/mixinFieldSearch.js
Labels: bug, (FRM) Form, (ULP) UI Lookups

#390 feat: Search on Sort Tab.
  components/ADempiere/FieldDefinition/FieldSearch/index.vue
  components/ADempiere/PanelDefinition/SortPanel.vue
Labels: enhancement, (REC) Records, (WIN) Windows

#391 Fixed: Smart Browser change pagination size
  components/ADempiere/DataTable/Browser/index.vue
  components/ADempiere/DataTable/Windows/index.vue
  components/ADempiere/PanelInfo/Component/chats/index.vue
Labels: bug, (REC) Records, (SB) Smart Browser, (UX) User Experience

#392 Support attachament
  components/ADempiere/PanelInfo/Component/Attachment/index.vue
Labels: enhancement, (REC) Records, (WIN) Windows

#394 Fixed: Search Product
  components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
  components/ADempiere/Form/VPOS/ProductInfo/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#393 Fix: Search Fields in Forms
  components/ADempiere/FieldDefinition/FieldSearch/GeneralInfoSearch/panel.vue
Labels: bug, (FRM) Form, (ULP) UI Lookups

#395 POS: Remove persistence product
  components/ADempiere/Form/VPOS/ProductInfo/index.vue
Labels: (POS) Point Of Sales, (FRM) Form

#397 Fix: POS Validate configuration of the discount to request a pin
  components/ADempiere/Form/VPOS/Order/line/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#398 Fix: Zooming in from Business Partner
  components/ADempiere/FieldDefinition/FieldOptions/index.vue
  components/ADempiere/TabManager/index.vue
Labels: bug, (REC) Records, (WIN) Windows

#399 Fix: Add Quick option to copy product code
  components/ADempiere/Form/VPOS/ProductInfo/productList.vue
Labels: enhancement

#388 Fix: POS Preview document after `Complete`
  components/ADempiere/Form/VPOS/Collection/index.vue
  components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  components/ADempiere/Form/VPOS/Options/index.vue
  components/ADempiere/Form/VPOS/posMixin.js
Labels: bug, (POS) Point Of Sales, (FRM) Form

#401 Fix: POST Set Order with Double Click
  components/ADempiere/Form/VPOS/OrderList/FindOrders/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#402 fix: POS Print Preview response undefined.
  components/ADempiere/Form/VPOS/Options/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#400 Fix: Save Attribute Product
  components/ADempiere/FieldDefinition/FieldProductAttribute/panelProductAttribute.vue
Labels: bug, (FRM) Form, (ULP) UI Lookups

#403 fix: POS Load Products when showed list.
  components/ADempiere/Form/VPOS/ProductInfo/index.vue
  components/ADempiere/Form/VPOS/ProductInfo/productList.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#405 Fix: bug when zooming in
  components/ADempiere/TabManager/index.vue
Labels: bug, (REC) Records, (WIN) Windows

#404 Fix: Establish order in the route
  components/ADempiere/Form/VPOS/Collection/index.vue
  components/ADempiere/Form/VPOS/Order/index.vue
  components/ADempiere/Form/VPOS/OrderList/FindOrders/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#408 Fix: Show order date in minimalist view
  components/ADempiere/DataTable/Windows/index.vue
  components/ADempiere/Form/VPOS/Collection/index.vue
  components/ADempiere/Form/VPOS/Order/index.vue
Labels: bug, (UX) User Experience

#410 Fix: is Displayed Default Table
  components/ADempiere/DataTable/Windows/index.vue
Labels: bug, (WIN) Windows, (UX) User Experience

#411 Fix: Date fields add Current Week option
  components/ADempiere/FieldDefinition/FieldDate.vue
Labels: enhancement, (ULP) UI Lookups, (UX) User Experience
