Repository solop-develop/frontend-default-theme, pull requests merged in 2023-08, with the labels that each got.

#751 fix: Center `Image Field` with table records.
  components/ADempiere/DataTable/Components/CellDisplayInfo.vue
Labels: bug, enhancement, (REC) Records

#753 Feat: Select an Already Loaded File
  components/ADempiere/Form/VFileImport/SelectFile/index.vue
Labels: enhancement, (FRM) Form

#755 fix: Refresh records on table and childs tabs.
  components/ADempiere/TabManager/convenienceButtons/RefreshRecordButton.vue
  components/ADempiere/TabManager/convenienceButtons/documentAction.vue
Labels: (REC) Records, (WIN) Windows, (UX) User Experience

#756 fix: Create role access lines.
  components/ADempiere/PanelDefinition/TreePanel.vue
  components/ADempiere/TabManager/TabPanel/index.vue
Labels: bug, (REC) Records, (WIN) Windows, (SE) Security, (UX) User Experience

#758 fix: Operator comparison disabled if field is read only.
  components/ADempiere/FieldDefinition/FieldOptions/ComparisonOperator.vue
  components/ADempiere/FieldDefinition/FieldOptions/OperatorComparison/index.vue
  components/ADempiere/FieldDefinition/index.vue
Labels: bug, (ULP) UI Lookups, (UX) User Experience

#760 fix: Change comparison operatos.
  components/ADempiere/FieldDefinition/FieldOptions/ComparisonOperator.vue
  components/ADempiere/FieldDefinition/index.vue
Labels: bug, (REC) Records, (UX) User Experience

#761 Fix: Create Payment after creating the Bank Account
  components/ADempiere/Form/VPOS/BusinessPartner/fieldsListCreate.js
  components/ADempiere/Form/VPOS/Collection/index.vue
  components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  components/ADempiere/Form/VPOS/containerManagerPos.js
Labels: bug, (POS) Point Of Sales, (FRM) Form

#762 Fix: Create Payment Refund
  components/ADempiere/Form/VPOS/Collection/index.vue
  components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
Labels: bug, enhancement, (POS) Point Of Sales, (FRM) Form

#764 feat: `Bank Statement Match` matched records.
  components/ADempiere/Form/VBankStatementMatch/AutomaticMatch.vue
  components/ADempiere/Form/VBankStatementMatch/SearchCriteria.vue
  components/ADempiere/Form/VBankStatementMatch/SearchCriteria/bankAccount.vue
  components/ADempiere/Form/VBankStatementMatch/SearchCriteria/businessPartner.vue
  components/ADempiere/Form/VBankStatementMatch/SearchCriteria/index.vue
  components/ADempiere/Form/VBankStatementMatch/SearchCriteria/searchMode.vue
  components/ADempiere/Form/VBankStatementMatch/index.vue
Labels: enhancement, (FRM) Form

#766 feat: `Bank Statement Match` list payments.
  components/ADempiere/Form/VBankStatementMatch/AutomaticMatch.vue
  components/ADempiere/Form/VBankStatementMatch/ManualMatch.vue
  components/ADempiere/Form/VBankStatementMatch/ManualMatch/currentPayments.vue
  components/ADempiere/Form/VBankStatementMatch/ManualMatch/importedPayments.vue
  components/ADempiere/Form/VBankStatementMatch/ManualMatch/index.vue
  components/ADempiere/Form/VBankStatementMatch/SearchCriteria/index.vue
  components/ADempiere/Form/VBankStatementMatch/SearchCriteria/searchMode.vue
  components/ADempiere/Form/VBankStatementMatch/index.vue
Labels: enhancement, (FRM) Form, (REC) Records

#770 Fix: `VFileImport` Current Step
  components/ADempiere/Form/VFileImport/index.vue
Labels: enhancement, (FRM) Form

#771 fix: Default showed `PayAmt` field on `Payment` window.
  components/ADempiere/FieldDefinition/FieldOptions/ContextInfo/index.vue
Labels: bug, enhancement, (WIN) Windows, (ULP) UI Lookups, (UX) User Experience

#772 Fix: Window Edit Mode Bug in Table
  components/ADempiere/DataTable/Windows/index.vue
Labels: bug, (REC) Records, (WIN) Windows

#775 feat: Open `Form` as process associated.
  components/ADempiere/FieldDefinition/FieldButton.vue
Labels: enhancement, (FRM) Form, (PRC) Processes, (ULP) UI Lookups

#778 Fix bank statement match
  components/ADempiere/Form/VBankStatementMatch/AutomaticMatch.vue
  components/ADempiere/Form/VBankStatementMatch/ManualMatch/currentPayments.vue
  components/ADempiere/Form/VBankStatementMatch/ManualMatch/importedPayments.vue
  components/ADempiere/Form/VBankStatementMatch/SaveData/ResultTable.vue
  components/ADempiere/Form/VBankStatementMatch/SaveData/bankStatement.vue
  components/ADempiere/Form/VBankStatementMatch/SaveData/index.vue
  components/ADempiere/Form/VBankStatementMatch/SearchCriteria/index.vue
  components/ADempiere/Form/VBankStatementMatch/index.vue
Labels: enhancement, (FRM) Form

#779 feat: `Bank Statenent Match` form, accounting and balance info.
  components/ADempiere/Form/VBankStatementMatch/ManualMatch/importedPayments.vue
  components/ADempiere/Form/VBankStatementMatch/SaveData/ResultTable.vue
  components/ADempiere/Form/VBankStatementMatch/SaveData/bankStatementInfo.vue
  components/ADempiere/Form/VBankStatementMatch/SaveData/index.vue
  components/ADempiere/Form/VBankStatementMatch/SearchCriteria/bankStatement.vue
  components/ADempiere/Form/VBankStatementMatch/SearchCriteria/index.vue
  components/ADempiere/Form/VBankStatementMatch/index.vue
Labels: enhancement, (FRM) Form

#780 Fix: Comment Change Style
  components/ADempiere/Form/Issues/component/Comment.vue
  components/ADempiere/PanelInfo/Component/RecordIssues/component/Comment.vue
  components/ADempiere/PanelInfo/Component/RecordIssues/index.vue
Labels: bug, (FRM) Form

#781 Fix: Select payment method Filterable
  components/ADempiere/Form/VPOS/Collection/index.vue
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#782 Fix: Do not create collections with amounts less than and equal to 0
  components/ADempiere/Form/VPOS/Collection/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#784 fix: POS Update Order multiple requests.
  components/ADempiere/Form/VPOS/ConfirmDelivery/index.vue
  components/ADempiere/Form/VPOS/Options/generalOptions.vue
  components/ADempiere/Form/VPOS/Order/index.vue
  components/ADempiere/Form/VPOS/ProductInfo/index.vue
  components/ADempiere/Form/VPOS/ProductInfo/productList.vue
  components/ADempiere/Form/VPOS/posMixin.js
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#783 Fix: Refund Payment
  components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#788 fix: Issue Type with default status and search value.
  components/ADempiere/Form/Issues/component/Comment.vue
  components/ADempiere/Form/WorkflowActivity/index.vue
  components/ADempiere/PanelInfo/Component/RecordIssues/component/Comment.vue
Labels: bug, (FRM) Form, (UX) User Experience

#790 Add new fast options( Canceled, Closed and Proposals)
  components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  components/ADempiere/Form/VPOS/OrderList/index.vue
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#791 Fix: POS `Credit Card Type` list records
  components/ADempiere/Form/VPOS/Collection/fieldsListCollection.js
  components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/fieldsListOverdrawnInvoice.js
Labels: bug, (POS) Point Of Sales, (FRM) Form

#792 Fix: Process Loading
  components/ADempiere/Form/VPOS/Collection/index.vue
  components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  components/ADempiere/Form/VPOS/Options/MnemonicCommand/mnemonicCommandAction.js
  components/ADempiere/Form/VPOS/Options/index.vue
  components/ADempiere/Form/VPOS/posMixin.js
Labels: bug, (POS) Point Of Sales, (FRM) Form

#793 fix: `VAllocation` form, list business partner.
  components/ADempiere/Form/VAllocation/components/SearchCriteria.vue
Labels: bug, (FRM) Form

#795 fix: Filter `Business Partner` search field without `IsSOTrx` context.
  components/ADempiere/FieldDefinition/FieldSearch/BusinessPartnerInfo/businessPartnersList.vue
Labels: bug, (ULP) UI Lookups

#796 fix: `Bank Statement Match` form clear bank statement list.
  components/ADempiere/Form/VBankStatementMatch/SearchCriteria/bankStatement.vue
Labels: bug, (FRM) Form

#797 Bugfix/ fix add loading cash opening
  components/ADempiere/Form/VPOS/Options/CashOpening/index.vue
  components/ADempiere/Form/VPOS/Options/CashSummaryMovements/index.vue
  components/ADempiere/Form/VPOS/Options/Cashwithdrawal/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#798 POS: Add Service Bank
  components/ADempiere/Form/VPOS/Collection/fieldsListCollection.js
  components/ADempiere/Form/VPOS/Collection/index.vue
  components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/fieldsListOverdrawnInvoice.js
  components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#799 POS: Add Service Campaigns
  components/ADempiere/Form/VPOS/Order/fieldsListOrder.js
  components/ADempiere/Form/VPOS/Order/index.vue
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#800 Fix: POS Info Shiment
  components/ADempiere/Form/VPOS/ConfirmDelivery/index.vue
  components/ADempiere/Form/VPOS/Order/line/infoOrderLine/index.vue
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#801 Fix: POS Double Billing
  components/ADempiere/Form/VPOS/Collection/index.vue
  components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#802 POS: Apply Discount to All Lines
  components/ADempiere/Form/VPOS/Options/applyDiscountToAllLines/fieldsList.js
  components/ADempiere/Form/VPOS/Options/applyDiscountToAllLines/index.vue
  components/ADempiere/Form/VPOS/Options/index.vue
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#804 Fix: POS Change Document number to reference number
  components/ADempiere/Form/VPOS/Collection/fieldsListCollection.js
Labels: bug, (POS) Point Of Sales, (FRM) Form

#805 Feat: Notify actions
  components/ADempiere/Form/VPOS/Collection/index.vue
  components/ADempiere/Form/VPOS/Options/CashOpening/index.vue
  components/ADempiere/Form/VPOS/Options/CashSummaryMovements/index.vue
  components/ADempiere/Form/VPOS/Options/Cashwithdrawal/index.vue
  components/ADempiere/Form/VPOS/Options/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#806 Fix: Duplicate Print TIcket
  components/ADempiere/Form/VPOS/Collection/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#807 feat: POS Product Info
  components/ADempiere/Form/ProductInfo/index.vue
  components/ADempiere/Form/ProductInfo/productList.vue
  components/ADempiere/Form/VPOS/Options/index.vue
  components/ADempiere/Form/VPOS/Order/orderLineMixin.js
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#808 Feat: POS Add Dialog to Reverse Sales
  components/ADempiere/Form/VPOS/Options/index.vue
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#809 Feat: POS Add Style Button
  components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#810 Feat: POS Add Options the Search Product
  components/ADempiere/Form/ProductInfo/productList.vue
  components/ADempiere/Form/VPOS/Options/generalOptions.vue
  components/ADempiere/Form/VPOS/Options/index.vue
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#811 Feat: POS Add Dialog the Summary Delivery
  components/ADempiere/Form/ProductInfo/productList.vue
  components/ADempiere/Form/VPOS/ConfirmDelivery/index.vue
  components/ADempiere/Form/VPOS/Options/generalOptions.vue
  components/ADempiere/Form/VPOS/Options/index.vue
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#812 Feat: POS Detailed Cash Closing
  components/ADempiere/Form/VPOS/Options/CashSummaryMovements/index.vue
  components/ADempiere/Form/VPOS/Options/index.vue
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#813 POS - Fix: Deatailed Cash Closing
  components/ADempiere/Form/VPOS/Options/CashOpening/index.vue
  components/ADempiere/Form/VPOS/Options/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#814 Fix: POS Search Product
  components/ADempiere/Form/ProductInfo/productList.vue
  components/ADempiere/Form/VPOS/Order/orderLineMixin.js
Labels: bug, (POS) Point Of Sales, (FRM) Form

#815 Fix: Document tasks
  components/ADempiere/Dashboard/docstatus/index.vue
Labels: enhancement, dashboard

#817 feat: Persistent front show/hidden fields.
  components/ADempiere/FilterFields/fieldsDisplayOptions.vue
  components/ADempiere/PanelDefinition/DraggablePanel.vue
Labels: enhancement, (PRC) Processes, (RPT) Reports, (SB) Smart Browser, (WIN) Windows

#818 Fix: POS Search Product
  components/ADempiere/Form/ProductInfo/productList.vue
  components/ADempiere/Form/VPOS/Options/generalOptions.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#819 Fix: POS Invoice Adjustment Tolerance with Authorization
  components/ADempiere/Form/VPOS/Collection/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#820 FIx: POS Order change Precie List
  components/ADempiere/Form/VPOS/Collection/index.vue
  components/ADempiere/Form/VPOS/Order/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#821 Fix: POS Print Ticket
  components/ADempiere/Form/VPOS/Collection/index.vue
  components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  components/ADempiere/Form/VPOS/Options/MnemonicCommand/mnemonicCommandAction.js
  components/ADempiere/Form/VPOS/Options/index.vue
  components/ADempiere/Form/VPOS/Options/reverseSalesTransaction/index.vue
  components/ADempiere/Form/VPOS/posMixin.js
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#823 Fix: POS Orders To Deliver
  components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#824 Fix: Create Customer Bank Accounts
  components/ADempiere/Form/VPOS/Collection/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#825 POS: Feat Add Service RMA
  components/ADempiere/Form/ProductInfo/productList.vue
  components/ADempiere/Form/VPOS/Options/CashSummaryMovements/index.vue
  components/ADempiere/Form/VPOS/Options/ReturnProduct/index.vue
  components/ADempiere/Form/VPOS/Options/index.vue
  components/ADempiere/Form/VPOS/ProductInfo/productList.vue
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#827 fix: POS Invoice Adjustment Tolerance with Authorization
  components/ADempiere/Form/VPOS/Collection/index.vue
Labels: (POS) Point Of Sales, (FRM) Form

#829 Fix: Create Customer Bank Account
  components/ADempiere/Form/VPOS/Collection/fieldsListCollection.js
  components/ADempiere/Form/VPOS/Collection/index.vue
  components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#830 Fix: POS Cash Closing
  components/ADempiere/Form/VPOS/Options/CashSummaryMovements/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#831 Fix: POS Collection
  components/ADempiere/Form/VPOS/Collection/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form
