Repository solop-develop/frontend-default-theme, pull requests merged in 2023-09, with the labels that each got.

#832 Support Return Product
  components/ADempiere/Form/VPOS/Options/ReturnProduct/index.vue
  components/ADempiere/Form/VPOS/Options/index.vue
Labels: enhancement, (FRM) Form

#833 Fix: POS Add Column Close
  components/ADempiere/Form/VPOS/Options/CashSummaryMovements/index.vue
  components/ADempiere/Form/VPOS/Options/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#834 fix: POS Create customer with email.
  components/ADempiere/Form/VPOS/BusinessPartner/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#835 feat: POS Edit Quiantity in Return Product
  components/ADempiere/Form/VPOS/Options/ReturnProduct/index.vue
  components/ADempiere/Form/VPOS/Options/index.vue
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#837 feat: POS Support Copy Order
  components/ADempiere/Form/VPOS/Options/index.vue
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#838 perf: Remove old panel component.
  components/ADempiere/Panel/index.css
  components/ADempiere/Panel/index.vue
  components/ADempiere/Panel/mainPanelDesktop.vue
  components/ADempiere/Panel/mainPanelMixin.js
  components/ADempiere/Panel/mainPanelMobile.vue
Labels: enhancement, (CIO) Code Improvement or Optimization

#839 Fix: overdrawn invoice
  components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  components/ADempiere/Form/VPOS/Options/index.vue
  components/ADempiere/Form/VPOS/Order/line/editLineMobile.vue
  components/ADempiere/Form/VPOS/Order/line/index.vue
  components/ADempiere/Form/VPOS/posMixin.js
  components/ADempiere/Form/VPOS/templateDevice/desktop.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#840 Fix: POS Update Line
  components/ADempiere/Form/VPOS/Options/ReturnProduct/index.vue
Labels: bug, (POS) Point Of Sales, (FRM) Form

#841 Fix: POS Support Add Credit Memo
  components/ADempiere/Form/VPOS/Collection/index.vue
  components/ADempiere/Form/VPOS/containerManagerPos.js
Labels: bug, (POS) Point Of Sales, (FRM) Form

#842 feat: POS Support Create New Order From RMA
  components/ADempiere/Form/VPOS/Options/index.vue
  components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#843 Bug: Date V-Allocation
  components/ADempiere/Form/VAllocation/components/Payments.vue
Labels: bug, (FRM) Form

#844 fix: Remove unused lerna
  README.md
  build/Dockerfile
Labels: bug, documentation, (CI/CD) Continuous Integration/Continous Delivery

#846 Set Icons to (SVG) based on Table Name
  components/ADempiere/Form/VFileImport/selectTable.vue
Labels: dashboard, (UX) User Experience

#848 fix: Process error.
  components/ADempiere/FilterFields/fieldsDisplayOptions.vue
Labels: bug, (PRC) Processes, (RPT) Reports

#849 feat: New Home Page
  components/ADempiere/Dashboard/index.vue
Labels: enhancement, dashboard

#851 POS: Preview ticket when Print whit results.
  components/ADempiere/FileRender/index.vue
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#852 Fix: Default State Issues
  components/ADempiere/Form/Issues/component/Comment.vue
  components/ADempiere/PanelInfo/Component/RecordIssues/component/Comment.vue
Labels: enhancement, (FRM) Form, (UX) User Experience
