Repository solop-develop/frontend-default-theme, pull requests merged in 2023-04, with the labels that each got.

#583 Add Expres Shipping
  components/ADempiere/Form/ExpressReceipt/index.vue
  components/ADempiere/Form/ExpressShipment/index.vue
  components/ADempiere/Form/VPOS/Options/index.vue
  components/ADempiere/Form/index.vue
Labels: enhancement, (FRM) Form

#587 Supportt is Quantity From Order Line
  components/ADempiere/Form/ExpressReceipt/index.vue
  components/ADempiere/Form/ExpressShipment/index.vue
Labels: enhancement, (FRM) Form

#589 Fixed Mnemonic Command
  components/ADempiere/Form/TimeControl/table.vue
  components/ADempiere/Form/VPOS/Options/MnemonicCommand/cashManagement.js
  components/ADempiere/Form/VPOS/Options/MnemonicCommand/component.vue
  components/ADempiere/Form/VPOS/Options/MnemonicCommand/generalOptions.js
  components/ADempiere/Form/VPOS/Options/MnemonicCommand/index.vue
  components/ADempiere/Form/VPOS/Options/MnemonicCommand/keyList.js
  components/ADempiere/Form/VPOS/Options/MnemonicCommand/keyListCommant.js
  components/ADempiere/Form/VPOS/Options/MnemonicCommand/mnemonicCommandAction.js
  components/ADempiere/Form/VPOS/Options/MnemonicCommand/salesOrder.js
  components/ADempiere/Form/VPOS/Options/index.vue
  components/ADempiere/Form/VPOS/OrderList/index.vue
  components/ADempiere/Form/VPOS/templateDevice/desktop.vue
Labels: enhancement, (POS) Point Of Sales, (FRM) Form

#594 Fix Search Product UPC/EAN
  components/ADempiere/Form/ExpressMovement/index.vue
  components/ADempiere/Form/ExpressReceipt/index.vue
  components/ADempiere/Form/ExpressShipment/index.vue
Labels: bug, (FRM) Form

#596 feat: Dashboard Activities.
  components/ADempiere/Dashboard/UnsupportedDashboard.vue
  components/ADempiere/Dashboard/activities.vue
  components/ADempiere/Dashboard/index.vue
Labels: enhancement, (DOC) Documentation
